<a href="https://colab.research.google.com/github/hn-valdiviezo/Bus4-118/blob/main/load_explore_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# load_explore.py

In [2]:
import pandas as pd
from sqlalchemy import create_engine  # Only for database example

# ---- 1. Load data from CSV ----
csv_data = pd.read_csv('sample_data.csv')
print(" CSV Data Loaded:")
print(csv_data.head())

# ---- 2. Load data from Excel ----
excel_data = pd.read_excel('sample_data.xlsx', engine='openpyxl')
print("\n Excel Data Loaded:")
print(excel_data.head())

# ---- 3. Load data from a SQL database (Optional demo) ----
# Example using SQLite for demonstration
# Create a connection (replace with your DB URI)
# engine = create_engine('sqlite:///example.db')  # Assumes example.db exists
# sql_data = pd.read_sql('SELECT * FROM your_table', engine)
# print("\n SQL Data Loaded:")
# print(sql_data.head())

# ---- Basic Data Exploration ----
print("\n First 5 Rows:")
print(csv_data.head())

print("\n Last 5 Rows:")
print(csv_data.tail())

print("\n Info:")
csv_data.info()

print("\n Summary Statistics:")
print(csv_data.describe())

 CSV Data Loaded:
      Name  Age  Score
0    Alice   23     85
1      Bob   27     90
2  Charlie   22     78
3    Diana   25     88
4    Ethan   24     92

 Excel Data Loaded:
      Name  Age  Score
0    Alice   23     85
1      Bob   27     90
2  Charlie   22     78
3    Diana   25     88
4    Ethan   24     92

 First 5 Rows:
      Name  Age  Score
0    Alice   23     85
1      Bob   27     90
2  Charlie   22     78
3    Diana   25     88
4    Ethan   24     92

 Last 5 Rows:
      Name  Age  Score
0    Alice   23     85
1      Bob   27     90
2  Charlie   22     78
3    Diana   25     88
4    Ethan   24     92

 Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Age     5 non-null      int64
 2   Score   5 non-null      int64
dtypes: int64(2), object(1)
memory usage: 252.0+ bytes

 Summary Statistics:
             Age      Score
count   5.000000   5.000000
mean   24.200000  86.600000
std     1.923538   5.458938
min    22.000000  78.000000
25%    23.000000  85.000000
50%    24.000000  88.000000
75%    25.000000  90.000000
max    27.000000  92.000000